extends layout
block content
  .jumbo
    .right
    h2 About Super Rentals
    p The Super Rentals website is a delightful project created to explore htmx.  By building a property rental site, we can simultaneously imagine traveling AND building htmx applications.
    a.button(href="/contact") Contact Us
