extends layout
block content
  .jumbo
    .right.tomster
    h2 Contact Us
    p Super Rentals Representatives would love to help you<br> choose a destination or answer any questions you may have.
    address
      | Super Rentals HQ
      p 1212 Test Address Avenue<br> Testington, OR 97233
      a(href="tel:503.555.1212") +1 (503) 555-1212 <br>
      a(href="mailto:superrentalsrep@emberjs.com") superrentalsrep@emberjs.com
    a.button(href="/about") About
