extends layout
block content
  .jumbo
    .right.tomster
    h2 Welcome to Super Rentals!
    p We hope you find exactly what you're looking for in a place to stay.
    a.button(href="/about") About Us
  .rentals
    label
      span Where would you like to stay?
      input(class="ember-text-field ember-view light", type="text")

    ul.results
    
