doctype html
html(lang="en")
  head
    title Super Rentals - htmx
    link(rel="stylesheet",href="/styles.css")
    script(src="https://unpkg.com/htmx.org")
  body
    .container(hx-boost="true")
      nav.menu
        a(href="/") 
          h1 Super Rentals
        .links
          a(href="/about") About
          a(href="/contact") Contact
      .body
        block content
