doctype html
html(lang="en")
  head
    title Super Rentals - htmx version
    link(rel="stylesheet",href="styles.css")
  body
    .container
      nav.menu
        a(href="/") 
          h1 Super Rentals
        .links
          a(href="/about") About
          a(href="/contact") Contact
      .body
        block content
